@page "/about"
@rendermode InteractiveServer
@using PortifolioCore.Entities.Models.AboutModels;
@inject IAboutServices _service;

<PageTitle>About</PageTitle>
<link href="style/About.css" rel="stylesheet" />

<div class="main-container">
    <ul class="main-row">
        <li class="section-title">
            <h2>About me</h2>
        </li>
    </ul>
    <div class="about-content">
        <ul class="main-row">
            <li class="about-text">
                <h3>I'm Caio Manoel and  <span>Software Developer</span></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </li>
        </ul>
        <ul class="main-row">
            <li class="personal-info">
                <ul class="main-row">
                    <li class="info-item">
                        <p>Birthday: <span>31 oct 2002</span></p>
                    </li>
                    <li class="info-item">
                        <p>Age: <span>21</span></p>
                    </li>
                    <li class="info-item">
                        <p>WebSite: <a href="https://github.com/OFA-Tech" class="button">OFA-Tech GitHub</a></p>
                    </li>
                    <li class="info-item">
                        <p>Email: <span>caiombaraujo@gmail.com</span></p>
                    </li>
                    <li class="info-item">
                        <p>Degree: <span>Computer Engineer</span></p>
                    </li>
                    <li class="info-item">
                        <p>Phone: <span>+55(11)95253-1011</span></p>
                    </li>
                    <li class="info-item">
                        <p>City: <span>São Paulo, SP, Brazil</span></p>
                    </li>
                    <li class="info-item">
                        <p>Freelance: <span>Available</span></p>
                    </li>
                </ul>
                <ul class="main-row">
                    <li class="buttons">
                        <a href="" class="button">Download CV</a>
                        <a href="contact" class="button hire-me">Hire me</a>
                    </li>
                </ul>
            </li>
            <li class="skills">
                <ul class="main-row">
                    @skills
                </ul>
            </li>
        </ul>
        <ul class="main-row">
            <li class="education">
                <h3 class="title">Education</h3>
                <ul class="main-row">
                    <li class="timeline-box">
                        <ul class="timeline shadow-dark">
                            <li class="timeline-item">
                                <div class="circle-dot" />
                                <h3 class="timeline-date">
                                    <i class="fa fa-calendar"></i> 2021 - 2026
                                </h3>
                                <h4 class="timeline-title">Barchelors in Computer Engineering</h4>
                                <p class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et iaculis libero, id maximus purus. Cras tincidunt neque dui, at ultricies mi interdum et.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="experience">
                <h3 class="title">Experience</h3>
                <ul class="main-row">
                    <li class="timeline-box">
                        <ul class="timeline shadow-dark">
                            <li class="timeline-item">
                                <div class="circle-dot" />
                                <h3 class="timeline-date">
                                    <i class="fa fa-calendar"></i> 2021 - 2024
                                </h3>
                                <h4 class="timeline-title"> MindLog: Soluções Inteligentes Ltda</h4>
                                <p class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et iaculis libero, id maximus purus. Cras tincidunt neque dui, at ultricies mi interdum et.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

@code {
    private MarkupString skills => new MarkupString(_service.getSkills());
}
