@page "/"
@inject IHomeService _service;



<PageTitle>Home</PageTitle>
<link href="style/Home.css" rel="stylesheet" />


<div class="main-container">
    <ul class="main-row">
        <li class="home-info">
            <h3 class="introduction">Hi, I'm <span class="name">Caio Manoel Bezerra de Araujo</span></h3>
            <h3 class="profession">I'm a <span class="typing">Software Engineer</span></h3>
            <p>I'm a software developer with over 5 years of experience, specializing in building efficient, scalable systems from the ground up. My expertise lies in understanding complex business logic and optimizing performance to meet business needs</p>
            <a href="contact" class="button hire-me">Hire me</a>
        </li>
        <li class="home-img">
            <img src="assets/images/profile-image.jpeg" alt="Profile Image" />
        </li>
    </ul>
</div>
