@page "/services"
@rendermode InteractiveServer
@using PortifolioCore.Entities.Models.ServicesModels;
@inject IServicesService _service;

<PageTitle>Services</PageTitle>
<link href="style/Services.css" rel="stylesheet" />

<div class="main-container">
    <ul class="main-row">
        <li class="section-title">
            <h2>Services</h2>
        </li>
    </ul>
    <ul class="main-row">
        @foreach (AvailableServiceModel service in _availableServices)
        {
            <li class="service-item">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="@service.Icon"></i>
                    </div>
                    <h4>@service.Name</h4>
                    <p>@service.Description</p>
                </div>
            </li>
        }
    </ul>
</div>

@code {
    private List<AvailableServiceModel> _availableServices => _service.getServices();
}
