@page "/services"
@rendermode InteractiveServer
@inject IServicesService _service;

<PageTitle>Services</PageTitle>
<link href="style/Services.css" rel="stylesheet" />

<div class="main-container">
    <ul class="main-row">
        <li class="section-title">
            <h2>Services</h2>
        </li>
    </ul>
    <ul class="main-row">
        <li class="service-item">
            <div class="service-item-inner">
                <div class="icon">
                    <i class="fa fa-mobile-alt"></i>
                </div>
                <h4>Mobile Development</h4>
                <p>lorem123</p>
            </div>
        </li>
        <li class="service-item">
            <div class="service-item-inner">
                <div class="icon">
                    <i class="fa fa-laptop-code"></i>
                </div>
                <h4>Mobile Development</h4>
                <p>lorem123</p>
            </div>
        </li>
        <li class="service-item">
            <div class="service-item-inner">
                <div class="icon">
                    <i class="fa fa-code"></i>
                </div>
                <h4>Mobile Development</h4>
                <p>lorem123</p>
            </div>
        </li>
        <li class="service-item">
            <div class="service-item-inner">
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div>
                <h4>Mobile Development</h4>
                <p>lorem123</p>
            </div>
        </li>
        <li class="service-item">
            <div class="service-item-inner">
                <div class="icon">
                    <i class="fa fa-bullhorn"></i>
                </div>
                <h4>Mobile Development</h4>
                <p>lorem123</p>
            </div>
        </li>
    </ul>
</div>

@code {

}
