<nav class="side-bar">
    <div class="brand-icon">
        <a href="">
            <span>C</span>aio
        </a>
    </div>

    <div class="navigation-toggler"><span></span></div>

    <ul class="navigation-list">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-house" aria-hidden="true">&nbsp&nbsp</span> Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="about">
                <span class="fa fa-user" aria-hidden="true">&nbsp&nbsp</span> About
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="services">
                <span class="fa fa-list" aria-hidden="true">&nbsp&nbsp</span> Services
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="portfolio">
                <span class="fa fa-briefcase" aria-hidden="true">&nbsp&nbsp</span> Portfolio
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="cover-letter">
                <span class="fa fa-solid fa-envelope" aria-hidden="true">&nbsp&nbsp</span> Cover Letter
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="contact">
                <span class="fa fa-comments" aria-hidden="true">&nbsp&nbsp</span> Contact
            </NavLink>
        </li>
    </ul>
</nav>