<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caio's Portifolio</title>
  </head>

  <body>
    <h1>Caio Manoel Bezerra de Araujo</h1>
    <h2>Software Engineer</h2>
    <!-- <p>Paragraph</p>
    <span>span</span>
    <ul>
      <li>pão</li>
      <li>leite</li>
      <li>arroz</li>
    </ul>
    <ol>
      <li><a href="https://www.linkedin.com/in/caio-mba">LinkedIn</a></li>
      <li><a href="https://github.com/CaioMBA">GitHub</a></li>
    </ol> -->
  </body>
</html>
